.footer {
  background-color: grey;
  padding: 18px 0px 18px 24px;
  a {
    color: white;
  }

  &__title {
    font-size: 20px;
    font-family: "shrikhand";
  }
  &__content {
    margin-top: 15px;
    &__subtitle {
      margin-bottom: 8px;
    }
    &__link1 {
      padding-left: 7px;
    }
    .fas {
      margin-right: 10px;
      color: white;
    }
  }
}



@media (min-width: 450px) and (max-width : 1600px){
  .footer{
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1601px){
  .footer{
    background-color: grey;
    padding: 18px 0px 18px 0px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}