/* HERO DE LA PAGE PRINCIPALE */

.hero {
  background: #99e2d029;
  margin-top: 0px;
  margin: -16px 0 0 0;
  padding-bottom: 40px;
  &__content {
    color: black;
    font-family: "Roboto";
  }
  &__title {
    justify-content: center;
    text-align: center;
    margin: 15px 0px 10px 0px;
    font-size: 20px;
    font-weight: 800;
    padding-top: 22px;
  }

  &__subtitle {
    text-align: center;
    margin: 0px 15px 10px;
  }
}
