button{
    background-image: linear-gradient(135deg,$secondaire,$primaire) ;
    border-radius: 20px;
    height: 40px;
    border: none;
    width: 230px;
    box-shadow: 0 5px 16px #0000002e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;


     a{
        color: white;
        padding : 10px;

    }
}