button{
    background-image: linear-gradient(135deg,$secondaire,$primaire) ;
    border-radius: 20px;
    height: 40px;
    border: none;
    margin: 3% 20% 9% 22%;
    width: 55%;
    box-shadow: 0 5px 16px #0000002e;


     a{
        color: white;
        padding : 10px;

    }
}