/*POLICES*/

@font-face {
  font-family: "Roboto";
  src: url("Polices/Roboto/Roboto-Regular-webfont.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("Polices/shrikhand/Shrikhand-Regular.ttf");
}

h1,
h2,
h3,
p,
a {
  font-family: "Roboto";
}
